.navHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #202020;
}

.navContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 1110px;
  padding: 15px 0px 25px 0px;
}

.navBarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1110px;
}

.websiteLogo {
  width: 90px;
  margin-top: 12px;
}

.navMenu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-self: flex-end;
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
}

.navItem {
  font-family: 'Roboto';
  text-decoration: none;
  margin: 10px;
  font-weight: 400;
  font-size: 16px;
}

.nav-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
}

.logoutBtn {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
  background-color: #4f46e5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  padding: 12px 42px;
}
